/* Global default styles applied to all elements, which can be overridden */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100;
    }
}
